<%= form_tag({ :action => 'result' }, {:id => 'sketchform'}) do %>
    <div class="field">
        <%= text_area "sketchtext", "input"  %><br />
        <%= submit_tag "Run Sketch" %>
    </div>
<% end %>
