    <form name="input" action="result" method="post">
      <h1>Enter code below.</h1>
      <textarea rows="25" cols="80"></textarea> <br/>
      <input name="submit" type="submit" value="Submit"/>
    </form>
