<!DOCTYPE html>
<html>
  <head>
    <title>Sketch | <%= @title %></title>
  </head>
  <body>

   <%= form_tag :action => "result" %>
    <div class="field">
      <%= text_area "text", "input"  %><br />
      <%= submit_tag %>
    </div>

  </body>
</html>
